nav {
  padding: 0px;
  margin: 0px;
  align-self: left;
}

nav li {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

nav a:active {
  background-color: #4CAF50;
}